
@layout('layout')
@section('content')


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p> this is the way it is </p>
        <p>{{id}}</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3"></div>
    </div>


</div>

@endsection