
.addbtns > a {

  color: gray;
  float: right;
  margin-top: 20px;
  height: 3px;
}
.addbtns:hover > a {

  color: black;
  float: right;
}

.text-block{
  
  position: absolute;
  top: 86.5%;
  /* right: 33px; */
  right: 1%;
  background-color: rgba(12, 26, 20, 0.247); 

  padding-left: 20px;
  padding-right: 20px; 
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 95%;
  border-radius: 8%;
}
.text-block:hover{
  background-color: rgba(12, 26, 20, 0.829); 

}
.carousel-item > a {
 font-family: 'Courier New', Courier, monospace;
 font-size: 1.7rem;
 color:#bda050;
}
.carousel-item > a:hover {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7rem;
  color:#bda050;
  text-decoration: none;
 }


.mid{
  margin-top: 35px;
  width: 100%;
}


#note-i{
  margin-right: 5px;
  
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}




.fa-facebook-f{
  
  /* outline: 10px solid black; */
  width: 20px;
  height: 20px; 
  
}

.list-unstyled > li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 35px;
  
}

.navbar-toggler-icon{
  margin-top: 3px;
  margin-bottom:6px;
}



#fs{
  background-repeat: no-repeat;
  width: 100%;
}
#ss{
  display: none;
}
.carousel-item > img {
  /* border-image-width: auto; */
  height: 40rem;
  

}

.carousel-control-prev  {
  height: 85%;
  padding-top: 15%;
  
  
}

.carousel-control-next{
  height: 85%;
  padding-top: 15%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon{
  display: inline-flex;
} 


.btn-light{
  float: right;
  margin: 3px
}
form{
  
 
  flex: 50% 60%;
  height: 100px;
  margin-bottom: 2%; 
  margin-top: 35px; 
}