.mid{
  background-color: #FFCD69;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-bottom: 0;
  outline: 3px solid black;
}



.mid p:last-child {
  margin-bottom: 0;
  
}



footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


header{
  
  /* outline: 10px solid black; */
  background-color: rgb(96, 120, 177);
  
}

